body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: rgb(82, 238, 82);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    background-color: rgb(17, 43, 17);
    color: white;
    margin: 0px 0px;
    padding: 16px;
    margin-bottom: auto;
}

#scoreboard,
.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: rgb(50, 73, 50);
    color: white;
    font-size: 24px;
}

button {
    font-size: 48px;
    border-radius: 8px;
    border-width: 4px;
    border-color: black;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(163, 159, 159);
}

button:active {
    opacity: 0.7;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: rgba(1, 97, 1, 0.582);
}

.selections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 32px;
    background-color: rgb(82, 238, 82);
    margin-top: auto;
}

#results {
    padding: 16px;
    text-align: center;
    background-color: rgb(6, 41, 6);
    color: white;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}